@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
.app-game-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-row {
        display: flex;
        flex-direction: row;
    }
    &-key {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 40px;
        min-height: 40px;
        margin: 2px;
        padding: 5px;
        color: #ffffff;
        border: solid 2px darkgrey;
        font-family: 'Coiny', cursive;
        text-transform: uppercase;
        font-size: 25px;
        span {
            width: 100%;
            text-align: center;
        }
        &.default {
            color: #000000;
        }
        &.not-present {
            background-color: #8b8878;
            border: solid 2px #8b8878;
        }
        &.present {
            background-color: #cdbe70;
            border: solid 2px #cdbe70;
        }
        &.correct {
            background-color: #a2cd5a;
            border: solid 2px #a2cd5a;
        }
        &.filled {
            color: #000000;
            border-color: rgb(54, 54, 54);
            border: solid 2px rgb(54, 54, 54);
        }
    }
}
