@import '../../shared/styles/mixin.scss';
.app-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-row {
        display: flex;
        flex-direction: row;
    }
    &-key {
        @include keyboardKey();
    }
}
