:root {
    --bodyBackground:#2c2c2c;
    --textColor:#ddd;

    --letterDefaultColor: #eee;
    --letterNotPresentColor: #444;
    --letterPresentColor: #cdbe70;
    --letterCorrectColor: #a2cd5a;
    --letterFilledColor: #b3ac61;
    --letterBorderColor: #666666;
    --keyBackgroundColor: #999;
    --keyDefaultColor: #000;
    --closeButtonBackgroundColor:#ddd;

    --switch-bg-color: rgb(78, 78, 170);
    --switch-handle-color: White;
}