@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@mixin word {
    display: flex;
    flex-direction: row;
}

@mixin letterBorderAndBackground($color, $width) {
    background-color: $color;
    border: solid $width $color;
}

@mixin letter {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    margin: 2px;
    padding: 5px;
    color: #ffffff;
    border: solid 2px var(--letterBorderColor);
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    font-size: 25px;
    span {
        width: 100%;
        text-align: center;
    }
    &.default {
        color: var(--letterDefaultColor);
    }
    &.not-present {
        @include letterBorderAndBackground(var(--letterNotPresentColor), 2px);
    }
    &.present {
        @include letterBorderAndBackground(var(--letterPresentColor), 2px);
    }
    &.correct {
        @include letterBorderAndBackground(var(--letterCorrectColor), 2px);
    }
    &.filled {
        color: var(--letterDefaultColor);
        border-color: var(--letterFilledColor);
        border: solid 2px var(--letterFilledColor);
    }
}

@mixin keyboardKey {
    min-width: 35px;
    margin: 3px;
    padding: 5px;
    color: #fff;
    background-color: var(--keyBackgroundColor);
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    font-size: 18px;
    border: solid 1px var(--letterBorderColor);
    border-radius: 4px;

    &.default {
        color: var(--keyDefaultColor);
    }
    &.not-present {
        @include letterBorderAndBackground(var(--letterNotPresentColor), 1px);
    }
    &.present {
        @include letterBorderAndBackground(var(--letterPresentColor), 1px);
    }
    &.correct {
        @include letterBorderAndBackground(var(--letterCorrectColor), 1px);
    }
}

@mixin closeButton {
    position: absolute;
    top: 20px;
    right: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    img {
        background-color: var(--closeButtonBackgroundColor);
    }
}
@mixin staticPageContent {
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

@mixin staticPageRoot {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bodyBackground);
    color: var(--textColor);
}
