$letterDefaultColor: #000000;
$letterNotPresentColor: #8b8878;
$letterPresentColor: #cdbe70;
$letterCorrectColor: #a2cd5a;
$letterFilledColor: rgb(54, 54, 54);
$letterBorderColor:darkgrey;

$keyBackgroundColor:lightgray;
