@import '../../shared/styles/mixin.scss';

.app-game-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-word {
        @include word(); 
    }
    &-letter {
        
        @include letter(); 
    }
}
